{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %} | Watch that film!
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header>
    <section><h1>Forrest Wiki</h1></section>
    <nav>
    <ul>
        <il><a href="{% url 'posts:create'%}">Criar o seu Post</a></il>
        <il><a href="{% url 'posts:search' %}">Pesquisar Posts</a></il>
        <il><a href="/posts/">Todos os Posts</a></il>
               <il><a href="/posts/categorias">Categorias</a></il>
    </ul>
    </nav>
    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>Copyright 2025 André Calza Cassim.</p>
    </footer>
</body>

</html>