header {
  display: grid;
    row-gap: 50px; 
  background-color: #f5f5f5;
  border: 10px solid rgb(118, 79, 22);
  color: rgb(165, 44, 44);
    grid-template-areas: "bx3 bx2"
        "bx1 bx2";
    justify-items: center;
}
@media(max-width: 600px){
header {
  display: grid;
    row-gap: 50px; 
  background-color: #f5f5f5;
  border: 0px solid rgb(118, 79, 22);
  color: rgb(165, 44, 44);
    grid-template-areas: "bx3 bx2"
        "bx1 bx2";
    justify-items: center;
}}

main {
    display: flex;
    flex-direction: column;
    background-color: #b6d5f1;
      align-items: center;
    color: rgb(165, 44, 44);
}

footer {
  display: flex;
  justify-content: center;
  background-color: #1d2730;
  align-items: flex-end;
  color: rgb(248, 244, 244);
}

body {
  display: flex;
  flex-direction: column;
}