{% extends 'base.html' %} {% block content %}
<h2>Inserir Novo post</h2>
<form method="POST" action="{% url 'posts:create' %}">
  {% csrf_token %}
  <p>
    <label for="id_name">Nome:</label>
    <input type="text" name="name" id="id_name" />
  </p>
  <p>
    <label for="id_categoria">Categoria:</label>
    <input type="text" name="categoria" id="id_categoria" />
  </p>
  <p>
    <label for="id_conteudo">Conteúdo:</label>
    <textarea name="conteudo" id="id_conteudo"
              rows="12"
              style="width:100%; font-size:1rem;"></textarea>
  </p>
  <button type="submit">Criar</button>
</form>

{% endblock content %}