{% extends 'base.html' %} 
{% block title %}
  {{ posts.name }} ({{ posts.categoria }})
{% endblock title %}
{% block content %}

<h2>Informações do post {{ posts.name }} ({{ posts.categorias.all|join:", " }})</h2>
<section class="dados-de-post">
  <ul>
    <li>Nome: {{ posts.name }}</li>
    <li>Categoria: {{ posts.categorias.all|join:", " }}</li>

    <li>Conteúdo: {{ posts.conteudo }}</li>

    <li><a href="{% url 'posts:update' posts.id %}">Editar</a></li>
    <li><a href="{% url 'posts:delete' posts.id %}">Apagar</a></li>
  </ul>
  <p> Criado em: {{ posts.data }}</p>
</section>
{% endblock content %}